// Colors
$color-itunes-blue: #0a84ff;
$color-moustard: #9d9d70;
$color-white: #fff;
$color-light-grey: #eee;
$color-dark-grey: #919191;

$color-track: rgb(88, 86, 214);
$color-album: rgb(255, 149, 0);
