// Colors
$color-itunes-blue: #0a84ff;
$color-white: #fff;
$color-black: #000;
$color-light-grey: #eee;
$color-dark-grey: #919191;

$color-track: #5856d6;
$color-album: #ff9500;

$color-yellow-dark: #ffcc00;

$color-yellow-light: #ffd60a;
